html , body , .ion-app , .ion-content {
    background-color : transparente ;
 }
 .botonesFoto {
    display: inline-flex;
}
.botonesFoto > * {
   flex: 1 0 auto;
}
.info {
    text-align: center;
    color: yellowgreen;
}
